body {
	background: linear-gradient(to bottom right, #960 0%, #a33 60%, #808 100%) no-repeat fixed;
}

#main {
	padding: 20px;
	width: 80vw;
	height: 80vh;
	font-family: "Courier New", monospace;
	font-size: large;
	font-weight: bold;
}

#main table {
	background-color: rgba(128, 128, 128, 0.5);
	border: 2px solid Black;
	border-radius: 2px;
	width: 100%;
}

#main table tbody {
	height: 128px;
	width: 60vw;
}

.karta {
	margin: 2px;
	border: solid black 1px;
	border-radius: 2px;
	padding-top: 15px;
	background-color: white;
	width: 96px;
	height: 106px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 36px;
	position: relative;
}

.spadanie {
	animation: spadanie 0.2s ease-out 0s 1 normal;
}

@keyframes spadanie {
	from {
		top: -600px;
	}
	to {
		top: 0px;
	}
}

.obrot {
	animation: obrot 0.5s ease-in-out 0s 1 normal;
}

@keyframes obrot {
	0% {
		transform: scaleX(100%);
		background-image: url("back.png");
	}
	50% {
		transform: scaleX(0%);
	}
	100% {
		transform: scaleX(100%);
		background-image: none;
	}
}

.zakr {
	background-image: url("back.png");
}

.wskaznik {
	width: 48px;
	font-size: 54px;
	text-align: left;
	padding-left: 20px;
}

/*@media only screen and (max-width: 786px) {
	* {
		color: Red;
	}
}*/